*{
	margin: 0;
	padding: 0;
}
body{
	font-family: sans-serif;
	font-size: 16px;
	line-height: 1.5;
}
.covid h1{
	font-size: 24px;
	margin-bottom: 20px;
	padding-left: 170px;
	color: #F4ACAC;

}
.container h3{
	font-size: 16px;
	background-color: #BBB2F3;
}
.container .col-md-4{
	font-size: 12px;
}