*{
	margin: 0;
	padding: 0;
}
body{
	font-family: sans-serif;
	font-size: 16px;
	line-height: 1.5;
}
.container{
	margin: 10px auto;
	padding: 10px;
}
.container h2{
	text-align: left;
	margin-bottom: 10px;
	padding-left: 120px;
}
.container .table{
	
	text-align: center;
}
.table{
	width: 1000px;
}
